.book-item {
    display: flex;
    flex-direction: column;

    &__title, &__author, &__date {
        display: block;
    }

    &__title {
        font-weight: bold;
        color: $heading-color;
        margin-bottom: $spacer;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__author, &__date {
        font-size: .85rem;
    }
}
