.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.mt-auto {
    margin-top: auto;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.me-1 {
    margin-right: .5rem !important;
}

.me-2 {
    margin-right: .75rem !important;
}
